/*Imports CSS*/

@import './normalize.css';
@import './grid.css';
@import './fonts.css';

body {
    font-family: "LatoBoldItalic"
}

/*HEADER*/

#header {
    padding: 1em 0;
}

#header .nav {
    text-align: right;
}

#header .nav a {
    text-decoration: none;
    padding: 0 1em;
    color: #292929;
}

#header .bg {
    background: linear-gradient(#e9eef2, #e6ebef);
    margin: 2em 0;
    min-height: 400px;
    text-align: center;
}

#header .bg h1 {
    padding: 2em 0 0 0;
    font-size: 3em;
}

/*CONTENT*/

.img-responsive {
    max-width: 100%;
}

#content .title {
    text-align: center;
}

#content h4 {
    padding: 1em;
    font-size: 1.5em;
}

#content p {
    padding: 1.5em;
}

#content .right {
    float: right;
    transform: scaleX(-1);
}

#content .right .text {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

/*BUTTONS*/

.btn {
    font-family: "LatoBold";
    padding: 12px 15px;
    border-radius: 30px;
    background: #ececec;
    text-decoration: none;
}

.btn.btn-blue {
    background: blue;
    color: #ececec;
}